In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy as db
from sqlalchemy import MetaData, Table, select
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
Base = automap_base()
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [7]:
# reflect an existing database into a new model
Base.prepare(engine, reflect=True)

In [8]:
# Tables available to reference: 
Base.classes.keys()

['measurement', 'station']

In [9]:
# Create a metadata instance
metadata = MetaData(engine)

# reflect the tables
mtable = Table('measurement', metadata, autoload=True, autoload_with=engine)
repr(mtable)

"Table('measurement', MetaData(bind=Engine(sqlite:///Resources/hawaii.sqlite)), Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False), Column('station', TEXT(), table=<measurement>), Column('date', TEXT(), table=<measurement>), Column('prcp', FLOAT(), table=<measurement>), Column('tobs', FLOAT(), table=<measurement>), schema=None)"

In [10]:
stable = Table('station', metadata, autoload=True, autoload_with=engine)
repr(stable)

"Table('station', MetaData(bind=Engine(sqlite:///Resources/hawaii.sqlite)), Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False), Column('station', TEXT(), table=<station>), Column('name', TEXT(), table=<station>), Column('latitude', FLOAT(), table=<station>), Column('longitude', FLOAT(), table=<station>), Column('elevation', FLOAT(), table=<station>), schema=None)"

In [11]:
# Create all tables
metadata.create_all()
for _t in metadata.tables:
   print("Table: ", _t)

Table:  measurement
Table:  station

In [12]:
# reflect db schema to MetaData
metadata.reflect(bind=engine)

In [47]:
# We can view all of the classes that automap found and compare multiple tables for similarities.
s = select([mtable,stable]).limit(10)
results = engine.execute(s).fetchall()
results

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0, 1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0, 2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0, 3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0, 4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0, 5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0, 6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0, 7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0, 8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0, 9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0, 1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)]

In [48]:
# Save references to each table
m = Base.classes['measurement']
st = Base.classes['station']

In [49]:
# Create our session (link) from Python to the DB
session = Session(engine)
# Reference Column names in a cleaner format: 
connection = engine.connect()
# Result Proxy: 
rp = connection.execute(s)
# List of column names: 
rp.keys()

['id',
 'station',
 'date',
 'prcp',
 'tobs',
 'id',
 'station',
 'name',
 'latitude',
 'longitude',
 'elevation']

In [50]:
# Join Columns at station from tables 
columns = [m.id, m.station, m.date, m.prcp, m.tobs, st.id, st.station, st.name, st.latitude, st.longitude, st.elevation]
climate = select(columns)
climate =

SyntaxError: invalid syntax (<ipython-input-50-5e00ab13bb2e>, line 3)

# Exploratory Climate Analysis

In [34]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Find the latest Date:
session.query(rp.date).order_by(rp.date.desc()).first()

AttributeError: 'ResultProxy' object has no attribute 'date'

In [33]:
# The last 12 months:
session.query(measurement.date).\
    filter((results.date < '2017-08-23') & (results.date > '2016-08-22') ).\
    order_by(results.date).limit(10).all()

AttributeError: 'list' object has no attribute 'date'

In [32]:
# Creates String for queries and load to dataframe: 
def load_data(table):
    session.query(table.date).\
    filter((table.date < '2017-08-23') & (table.date > '2016-08-22') ).\
    order_by(table.date).all()
    # Load the data
    data = pd.read_sql(table, engine.connect())
    print(data.shape)
    return (data)
load_data(results)

AttributeError: 'list' object has no attribute 'date'

In [ ]:
# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`